
*{
    
    margin:0;
    padding:0;
    
}

body{

    background-color: hsl(0, 17%, 95%);
    font-size: 15px;
}

main.contain{
    
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:100vh;
    flex-wrap: wrap;
    border-radius: 20px;
}

div.body{
    
    display:flex;
    flex-direction:column;
    margin: 5% 10%;
    box-shadow: 5px 8px 10px rgb(124, 124, 124);
 
}

img{
    width:5em;
}
h1{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size:3rem;
   
}
p, button,.attribution a {
    font-size:1.5em;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}

p{
    padding-top: 20px;
    color: hsla(0, 0%, 100%, 0.75);
}

h1,button{
    color: hsl(0, 0%, 95%);
}
.body section{
    padding: 4rem;
}

.first{
    background-color: hsl(31, 77%, 52%);

}

.second{
    background-color: hsl(184, 100%, 22%);
}

.third{

    background-color: hsl(179, 100%, 13%);
}

button{
    width:170px;
}

.first button{
    color: hsl(31, 77%, 52%);
}
.second button{
    color: hsl(184, 100%, 22%);
}

.third button{
    color: hsl(179, 100%, 13%);
}  

button{
    margin-top: 40px;
    padding: 1rem ;
    border-radius:2rem;
    border-color:rgba(0, 0, 0, 0);
    transition: color .4s ease-in-out;
}

button:hover{
    background-color: rgba(255, 255, 255, 0);
    color:hsla(0, 0%, 100%, 0.75);
    border:2px solid hsla(0, 0%, 100%, 0.75);
}


.attribution {
    text-align: center;
    color: hsl(0, 0%, 48%);
}

  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }

  .attribution a:hover{
      text-decoration:underline;
      color: hsl(228, 85%, 68%);
  }

  @media(min-width:1100px) {

    body{
        margin:0;
    }
     div.body{
         display:flex;
         flex-direction:row;
         width: 1200px;
         height:600px;
     }
      
     button{
         margin-top: 30%;
     }
  }